<style>
	img {
		display: block;
		max-height: 64px;
		max-width: 64px;
	  	height: auto;
	}
</style>

<!DOCTYPE HTML>
<html>
	<head>
		<title>Cat Commits</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	</head>
	<body>
		<ul class="list-unstyled">
			{%for commit in commits%}
				<li class="media">
					<img class="align-self-center mr-3" style="float:left" src="{{ commit.author_image_url }}">
					<div class="media-body">
						<h5 class="mt-0 mb-1">{{commit.message}}</h5>
					</div>
				</li>
			{%endfor%}
		</ul>
	</body>
</html>